
trigger:
  branches:
    exclude:
      - docs
      - gh-pages

schedules:
  - cron: "10 4 * * 6"
    displayName: "Weekly"
    branches:
      include:
        - main

variables:
  - name: vcpkg.commit
    value: "b86c0c35b88e2bf3557ff49dc831689c2f085090" # mainstream 2022.02.23
  - name: vcpkg.feature.flags
    value: "registries,binarycaching"
  - name: vcpkg.default.binary.cache
    value: $(Build.BinariesDirectory)/vcpkg-caches

jobs:
  - job: Build
    pool:
      vmImage: "windows-2022"
    strategy:
      matrix:
        release_x64:
          build.platform: x64
          build.configuration: Release
          vcpkg.target.triplet: x64-windows
        debug_x64:
          build.platform: x64
          build.configuration: Debug
          vcpkg.target.triplet: x64-windows
        # debug_x86:
        #   build.platform: Win32
        #   build.configuration: Debug
        #   vcpkg.target.triplet: x86-windows
    steps:
      - powershell: New-Item -Type Directory -Force ${env:VCPKG_DEFAULT_BINARY_CACHE}
      - task: PowerShell@2
        inputs:
          filePath: "scripts/download_mp4.ps1"
      - task: Cache@2
        inputs:
          key: '2022-02 | vcpkg | $(build.platform)'
          path: $(vcpkg.default.binary.cache)
      - task: run-vcpkg@0
        displayName: "Install: Vcpkg"
        inputs:
          vcpkgGitCommitId: $(vcpkg.commit)
          vcpkgArguments: "ms-gsl spdlog directxtex directxtk directxmath directx-headers catch2 glfw3 egl-registry opengl-registry"
        env:
          VCPKG_DEFAULT_TRIPLET: $(vcpkg.target.triplet)
      - task: CMake@1
        displayName: "CMake: Configure/Generate"
        inputs:
          cmakeArgs: "--preset=$(vcpkg.target.triplet)-debug -DCMAKE_INSTALL_PREFIX:PATH=$(Build.BinariesDirectory)/install"
          workingDirectory: $(Build.SourcesDirectory)
      - task: VSBuild@1
        displayName: "Build: VSBuild"
        inputs:
          solution: build-$(vcpkg.target.triplet)/learning-media-foundation.sln
          platform: "$(build.platform)" # x64|Win32
          configuration: "$(build.configuration)" # Debug|Release
          clean: true
          msbuildArchitecture: "x64"
          logFileVerbosity: detailed
      - task: CMake@1
        displayName: "Build: CMake Preset"
        inputs:
          cmakeArgs: "--build --preset=$(vcpkg.target.triplet)-debug"
          workingDirectory: $(Build.SourcesDirectory)
      - task: CMake@1
        inputs:
          cmakeArgs: "--build --target install --preset=$(vcpkg.target.triplet)-debug"
          workingDirectory: $(Build.SourcesDirectory)
      - powershell: |
          ./media_test_suite.exe --success
        workingDirectory: $(Build.BinariesDirectory)/install/bin

  - job: Analysis
    dependsOn: Build
    pool:
      vmImage: "windows-2022" # https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md
    steps:
      - task: Cache@2
        inputs:
          key: '2022-02 | vcpkg | x64'
          path: $(vcpkg.default.binary.cache)
      - task: run-vcpkg@0
        displayName: "Install: Vcpkg"
        inputs:
          vcpkgGitCommitId: $(vcpkg.commit)
          vcpkgArguments: "catch2 ms-gsl spdlog directxtex directxtk directxmath directx-headers glfw3 egl-registry opengl-registry"
        env:
          VCPKG_DEFAULT_TRIPLET: x64-windows
      - task: SonarCloudPrepare@1
        inputs:
          SonarCloud: "luncliff-sonarcloud"
          organization: "luncliff-github"
          scannerMode: "MSBuild"
          projectKey: "luncliff-media"
          projectName: "luncliff-media"
          projectVersion: "0.1.3"
          extraProperties: |
            sonar.language=c++
            sonar.cpp.std=c++20
            sonar.sourceEncoding=UTF-8
            sonar.sources=src/,test/
            sonar.exclusions=scripts/
            sonar.verbose=true
            sonar.cfamily.threads=4
            sonar.cfamily.build-wrapper-output=bw-output
      # https://github.com/SonarSource/sonarcloud_example_cpp-cmake-windows-otherci
      - powershell: |
          Invoke-WebRequest -Uri "https://sonarcloud.io/static/cpp/build-wrapper-win-x86.zip" -OutFile build-wrapper-win.zip
          Expand-Archive -Path "build-wrapper-win.zip" -DestinationPath .
          Move-Item -Path "./build-wrapper-win-x86/build-wrapper-win-x86-64.exe" -Destination .
        displayName: "Download: Sonar Build Wrapper"
      - task: CMake@1
        displayName: "CMake: Configure/Generate"
        inputs:
          cmakeArgs: "--preset=x64-windows-debug"
          workingDirectory: $(Build.SourcesDirectory)
      # https://docs.sonarqube.org/latest/analysis/languages/cfamily/
      # https://docs.sonarqube.org/latest/analysis/scan/sonarscanner-for-azure-devops/
      # https://docs.sonarqube.org/latest/analysis/scan/sonarscanner-for-msbuild/
      - powershell: |
          $env:Path="C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Msbuild\Current\Bin;$env:Path"
          MSBuild --version
          ./build-wrapper-win-x86-64.exe --out-dir "../bw-output" `
            MSBuild build-x64-windows/learning-media-foundation.sln `
            /t:rebuild /p:platform="x64" /p:configuration="Debug"
        displayName: "Sonar Build Wrapper"
      - powershell: ./media_test_suite.exe
        workingDirectory: build-x64-windows/Debug
        displayName: "Run Tests"
      # - task: PowerShell@2
      #   displayName: "Create XML from coverage"
      #   inputs:
      #     filePath: "scripts/create-coverage-xml.ps1"
      - task: SonarCloudAnalyze@1
        continueOnError: true
      - task: SonarCloudPublish@1
        inputs:
          pollingTimeoutSec: "300"
        continueOnError: true
